.inputComponent-label {
  font-weight: 600;

  font-size: 1.23rem;
  margin-bottom: 4px;
}

.inputComponent-input {
  border-radius: 4px;
  padding: 0 4px;
  height: 24px;

  caret-color: var(--ultra-dark-blue);

  color: black;

  background-color: var(--ultra-light-blue);

  border: none;

  &:focus {
    outline: none;
  }
}
