:root {
  --ultra-light-blue: #c0e9ea;
  --light-blue: #82d3d6;
  --medium-blue: #2c8488;
  --dark-blue: #164243;
  --ultra-dark-blue: #103942;
  --light-pink: #c68fcb;
  --medium-pink: #90548a;
  --dark-pink: #5d2f66;
  --soft-black: #030d12;
  --dark-white: #f2f2f2;

  font-size: 80%; /* controle das medidas rem */
}

body,
input,
button,
textarea {
  font-family: 'roboto', 'Arial Narrow', Arial, sans-serif;

  color: var(--medium-blue);
}

@media (min-width: 700px) {
  :root {
    font-size: 85%;
  }
}
